build
_build*
build_local/
build_debug
install_debug
src/config.h
src/milk_config.h
local
lib
.cache

_tmplist.txt
.vscode

Testing/

#
# ignore all plugins by default
#
plugins/**

#plugins/cacao-src
#plugins/coffee-src

#
# un-ignore milk-extra-src
#
!plugins/milk-extra-src/
!plugins/milk-extra-src/**

plugins/milk-extra-src/AtmosphereModel
plugins/milk-extra-src/AtmosphericTurbulence
plugins/milk-extra-src/OpticsMaterials
plugins/milk-extra-src/WFpropagate

*-code-workspace


*.egg-info
.eggs/
local-install/

# Documentation build output
_site/
site/
sitemap.xml.gz
docs/doxygen/

# Performance benchmark results
perfresults/

# Python
__pycache__
*.pyc

# Testing suite
.nox
testing/gcov_html
pyrightconfig.json

# Node dependencies
node_modules/

# Shared libraries and executables
*.so
test_graph_panel

# Generated source files
lex.yy.c

# Diagnostic dumps and execution scripts
*.txt
gdb_script.txt
test_fps_stop.sh

