build
_build
src/config.h
src/milk_config.h
local

_tmplist.txt
.vscode

#
# ignore all plugins by default
#
plugins/**

#plugins/cacao-src
#plugins/coffee-src

#
# un-ignore milk-extra-src
#
!plugins/milk-extra-src/

plugins/milk-extra-src/AtmosphereModel
plugins/milk-extra-src/AtmosphericTurbulence
plugins/milk-extra-src/OpticsMaterials
plugins/milk-extra-src/WFpropagate

*-code-workspace
