
\.deps/\.dirstamp

\.deps/CACAO-calc_bison\.Po

\.deps/CACAO-calc_flex\.Po

\.deps/CACAO-CLIcore\.Po

\.dirstamp

CACAO-calc_bison\.o

CACAO-calc_flex\.o

CACAO-CLIcore\.o

*.o

*.Po

calc_bison.c

calc_bison.h

calc_flex.c

CacaoProcessTools.egg-info
build
_*
setup.cfg
.vscode
